body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Patua One;

  }
.container{
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    background: #fff;
    padding: 10px;
}
.mid{
    margin: 20px auto;
    text-align: center;
    font-size: 39px;
    line-height: 1.2em;
    letter-spacing: 0em;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Spinnaker;
}
a{
    text-decoration: none;
    color: #fff;
}
.o{

    align-items: center;
    margin: 0 auto;


}
.photoButton{
position: relative;
bottom: -50px;
left: 40%;
}